template(name='home')
    .ui.stackable.padded.grid
        .sixteen.wide.column.scrolling
            .ui.stackable.grid 
                // .twelve.wide.column
                //     .ui.segment
                //         a.ui.center.aligned.header(href="/dishes")
                //             +i name='food' cl='ui avatar image'
                //             |specials
                //         .ui.selection.animated.list
                //             each special_docs
                //                 a.item(href="/dish/#{_id}")
                //                     img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                //                     |#{title}
                // .four.wide.column
                //     .ui.segment
                //         a.ui.center.aligned.header(href="/dishes")
                //             +i name='food' cl='ui avatar image'
                //             |french word of the day
                .eight.wide.column
                    .ui.segment
                        a.ui.center.aligned.header(href="/dishes")
                            +i name='food' cl='ui avatar image'
                            |menu
                        .ui.small.header 
                            |sections
                        .ui.selection.animated.list
                            each menu_sections
                                a.item(href="/food_section/#{_id}")
                                    img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                                    |#{title}
                        .ui.small.header 
                            |menu items
                        .ui.selection.animated.small.list
                            each model_docs 'dish'
                                a.item(href="/dish/#{_id}")
                                    img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                                    |#{title}
                .eight.wide.column
                    .ui.segment
                        a.ui.center.aligned.header(href="/orders")
                            +i name='clock' cl='ui avatar image'
                            | orders
                        .ui.selection.animated.list
                            each latest_orders
                                a.item(href="/order/#{_id}")
                                    img.ui.avatar.image(src="{{c.url image_id width=200 height=200 gravity='face' crop='fill'}}")
                                    |#{title}
                .eight.wide.column
                    .ui.segment
                        a.ui.center.aligned.header(href="/users")
                            +i name='groups' cl='ui avatar image'
                            |users
                        .ui.selection.animated.list
                            each dashboard_users
                                a.item(href="/user/#{username}") #{username}
                                    img.ui.avatar.image(src=user.profile.profilePic title=name)
                                    |#{title}

        // .four.wide.column
        //     +latest_activity
            
            
            
