template(name='dish_edit')
    with current_doc
        .ui.stackable.padded.grid
            .eight.wide.column
                .ui.header
                    small editing
                    | #{title}
                    small dish
                .ui.large.circular.icon.green.button.save_dish(title='save dish')
                    i.checkmark.large.icon   
                +text_edit key='title' label='title' direct=true
                +kve key='menu_section' value='appetizers' label='appetizers' direct=true
                +kve key='menu_section' value='dessert' label='dessert' direct=true
                +image_edit key='image_id' label='image' direct=true
                +float_edit key='price_usd' label='$ price' direct=true
                +float_edit key='price_franc' label='franc price' direct=true
                +array_edit key='ingredients' label='ingredients'  direct=true
            .eight.wide.column
                +textarea_edit key='description' label='description' direct=true
                if can_delete
                    .ui.red.button.delete_dish
                        i.remove.icon   
                        | delete
                
