template(name='order_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column
                    a.ui.compact.button(href="/dish/#{dish_id}")
                        i.left.chevron.icon
                        img.ui.avatar.image(src="{{c.url order_dish.image_id width=200 height=200}}")    
                        |#{order_dish.title}
                    .ui.inline.header 
                        strong '#{order_dish.title}'
                        small order
                    if can_edit
                        a.ui.large.icon.button(href="/order/#{_id}/edit" title='edit')
                            i.pencil.icon
                    .ui.header buyer #{_author_username}
                    .ui.header status: #{status}
                    .ui.header 
                        i.shield.icon
                        |admin
                    if is_admin
                        .ui.button.mark_started mark started
                        .ui.button.mark_ready mark ready
                        .ui.button.mark_picked_up mark picked up
                    div
                    .ui.inline.header 
                        i.user.outline.icon
                        |customer
                    .ui.button.mark_picked_up mark picked up
                    .ui.button.cancel 
                        i.remove.icon
                        |cancel
                    with buyer
                        +user_card
                .eight.wide.column
                    .ui.large.bulleted.list
                        .item
                            small ordered
                            strong #{when}
                            |({{long_date _timestamp}})
                        .item
                            small for 
                            strong ${{fixed order_price}}
                    .ui.segment 
                        with order_dish
                            a(href="/dish/#{_id}")
                                img.ui.rounded.image(src="{{c.url image_id width=400 height=400}}")
                            a(href="/dish/#{_id}")
                                .ui.header #{title}
                            .ui.header dish
                            //- .ui.header #{cook_tip} cook tip
                            .ui.header $#{order_total_transaction_amount} 
                                small total transaction amount
                    div
                .four.wide.column
                    // |{{from_now datetime_available}}:
                    // +textarea_view key='description'
                    div
                    .ui.inline.header ingredients
                    each order_dish.ingredients
                        .ui.label #{this}
                    if pickup
                        .ui.header
                            |pickup
                    else if delivery
                        .ui.header 
                            |delivery
                    if can_edit
                        .ui.small.compact.button.cancel_order
                            i.remove.icon
                            |cancel
                    .ui.hidden.divider
                    +comments