template(name='order_view')
    with current_doc
        .ui.stackable.padded.grid
            .three.column.row
                .column
                    a.ui.circular.compact.button(href="/dish/#{dish_id}")
                        i.left.chevron.icon
                        img.ui.avatar.image(src="{{c.url order_dish.image_id width=200 height=200}}")    
                        |#{order_dish.title}
                    .ui.header 
                        strong '#{order_dish.title}'
                        small order
                    if can_edit
                        a.ui.large.circular.icon.button(href="/order/#{_id}/edit" title='edit')
                            i.pencil.icon
                .column
                    .ui.header 
                        small ordered
                        strong #{when}
                        small for 
                        strong ${{fixed order_price}}
                    .ui.segment 
                        with order_dish
                            a(href="/dish/#{_id}")
                                img.ui.rounded.image(src="{{c.url image_id width=400 height=400}}")
                            a(href="/dish/#{_id}")
                                .ui.header #{title}
                            .ui.header dish
                            //- .ui.header #{cook_tip} cook tip
                            .ui.header $#{order_total_transaction_amount} 
                                small total transaction amount
                    div
                .column
                    // |{{from_now datetime_available}}:
                    // +textarea_view key='description'
                    .ui.small.inline.header {{long_date datetime_available}}
                    .ui.header ingredients
                    each order_dish.ingredients
                        .ui.label #{this}
                    if pickup
                        .ui.header
                            |pickup
                    else if delivery
                        .ui.header 
                            |delivery
                    if can_edit
                        .ui.small.compact.button.cancel_order
                            i.remove.icon
                            |cancel
                    .ui.hidden.divider
                    +comments
                .column
                    .ui.header buyer #{_author_username}
                    with buyer
                        +user_card
